@font-face {
    font-family: 'Poppins Normal';
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url(fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins Light Italic';
    src: url(fonts/Poppins-LightItalic.ttf);
    font-style: italic;
    font-weight: 300;
}


*, *::before, *::after {
    /* from css-tricks */
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

:root {
    --background-dark: #1F2937;
    --text-hero-main: 48px 800 ;
    --color-hero-main: #F9FAF8;
    --text-header-secondary: 18px;
    --color-header-secondary: #E5E7EB;
    --text-logo: 24px;
    --color-text-logo: #f9faf8;
    --color-blue: #3882f6;
    --text-info-header: 36px 800;
    --color-info-header: #1f2937;
    --background-quote: #e5e7eb;
    --text-quote: 36px light italic ;
    --color-text-quote: #1f2937;
}