@import 'extras.css';

body {
    font-family: 'Poppins Normal', sans-serif ;
}

ul {
    list-style: none;
}

header, .main, .info, .quote, footer, .card{
    width: 100%;
}

.container {
    max-width: 1100px;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0 100px 0;
}

.flex-row {
    display: flex;
    align-items: center;
}

/* Header Section */

header {
    background-color: var(--background-dark);
}

header a {
    text-decoration: none;
    color: inherit;
}

header ul {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    gap:20px;
    color: var(--color-header-secondary);
}

header li{
    font: var(--text-header-secondary);
    font-size: 18px;
    
}

header li:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

.header-logo {
    color: var(--color-text-logo);
    font-size: 24px;
}

/* Main Section */

.main {
    background-color: var(--background-dark);
}


.main h1 {
    color: var(--color-hero-main);
    font-family: 'Poppins Bold', sans-serif;
    font-size: 48px;
    margin-bottom: 0px;
}

.main p {
    color: var(--color-header-secondary);
    font-size: 18px;
    margin-bottom: 10px;
}

.main .left-side{
    max-width: 60%;
    margin-right: 12px;
    margin-bottom: 12px;
}

.main .image {
    width: 350px;
    border-radius: 30px;
    margin-left: auto;
    filter: drop-shadow(5px 5px 12px rgb(3, 95, 15));
}

.main img {
    max-width: 100%;
    border: none;
    border-radius: 30px;
    object-fit: cover;
}

.main button {
    padding: 10px 32px;
    border-radius: 6px;
    border: none;
    background-color: var(--color-blue);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

/* Info Boxes Section */

.info h2 {
    color: var(--color-info-header);
    font-family: 'Poppins Bold', sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 38px 0;
}

.info .flex-row {
    gap: 38px;
    justify-content: center;
    flex-wrap: wrap;
}

.info .box {
    flex: 1 0 200px;
    text-align: center;
}

.info img {
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Quote Section */

.quote {
    background-color:  var(--background-quote);
    font-size: 36px;
    font-family: 'Poppins Light Italic', sans-serif;
}

.quote .container {
    padding: 100px 0px;
    text-align: left;
    line-height: 95%;
}

.quote .author {
    text-align: right;
    font-family: 'Poppins Bold';
    font-size: 24px;
    margin: 20px 50px 0 0;
}

/* Card Section */

.card .container {
    background-color: var(--color-blue);
    justify-content: center;
    padding: 36px 60px;
    margin: 50px auto;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
}

.card button {
    padding: 8px 32px;
    margin-left: auto;
    border-radius: 6px;
    border: 1px solid whitesmoke;
    background-color: var(--color-blue);
    color: whitesmoke;
    font-size: 16px;
    font-weight: 600;
}

.card .header {
    font-family: 'Poppins Bold';
    font-size: 18px;
}

.card .header + p{
    color: rgb(233, 233, 233);
    font-size: 16px;
}

/* Footer Section */

footer {
    background-color: var(--background-dark);
}

footer .container {
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    header .container {
        display: block;
    }

    header .header-logo {
        margin-bottom: 12px;
    }

    .main .container {
        display: block;
    }

    .main .left-side{
        max-width: 100%;
    }

    .main .image {
        margin: 0;
        max-width: 100%;
    }

    .card .container {
        display: block;
    }
    .card button {
        margin-top: 1em;
    }
}